* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 30px;
  gap: 12px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
