.quiz-page > button {
  border: none;
  padding: 12px;
  width: 300px;
  margin-top: 12px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.quiz-page > button:hover {
  background: gold !important;
  color: black;
  cursor: pointer;
}
